.footer {

  padding: 50px 0 40px;
  background-color: #000;
  color: var(--White, #FFF);
text-align: center;

font-style: normal;
font-weight: 700;
line-height: 130%; 
 
}
.footer__text {
  padding: 20px 0;
}
.footer__list {
padding-top: 80px;
display: flex;
justify-content: center;
align-items: center;
gap:20px;
flex-wrap: wrap;
}

